/* Importing google fonts montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #5f41e4;
}
.container {
  background-color: #fff;
  flex-grow: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 425px;
}
.search-section {
  gap: 10px;
  display: flex;
  padding: 25px;
  align-items: center;
}
.search-section .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
}
.search-section .input-wrapper span {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.search-section .search-input {
  height: 100%;
  width: 100%;
  outline: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 20px 0 50px;
  border-radius: 6px;
  border: 1px solid #beb0ff;
}
.search-section .search-input::placeholder {
  text-transform: none;
}
.search-section .search-input:focus {
  border-color: #5f41e4;
  transition: 0.1s ease;
}
.search-section .location-button {
  height: 54px;
  width: 56px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #5f41e4;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #beb0ff;
  transition: 0.3s ease;
}
.Weather-Section .current-weather {
  display: flex;
  flex-direction: column;
  padding: 20px 0 50px;
  align-items: center;
}
.current-weather .Weather-icon {
  width: 140px;
  aspect-ratio: 1;
}
.current-weather .temperature {
  font-size: 3.38rem;
  margin: 23px 0;
  display: flex;
}
.current-weather .temperature span {
  font-size: 1.56rem;
  font-weight: 500;
  margin: 5px 0 0 2px;
}
.current-weather .description {
  font-size: 1.25rem;
  font-weight: 500;
}
.search-section .location-button:hover {
  background: #5f41e4;
  color: #fff;
  border-color: #5f41e4;
}
.search-section .location-button span {
  font-size: 1.3rem;
}
.hourly-weather {
  padding: 16px 25px;
  border-top: 1px solid #d5ccfd;
}
.hourly-weather .weather-list {
  display: flex;
  list-style: none;
  gap: 43px;
  margin-bottom: -16px;
  padding-bottom: 16px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.hourly-weather:hover .weather-list {
  scrollbar-color: #bfbfbf transparent;
}
.hourly-weather .weather-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 500;
  align-items: center;
}
.hourly-weather .weather-item .Weather-icon {
  width: 28px;
  aspect-ratio: 1.5;
}
